/*#p1 img{
	left: 30px;
}*/
.estilo-ico,.fb{
	font-size:30px;
	margin-left: 60px; 
	padding: 30px;
}
.centrar{
	text-align: center;

}
.estilo-menu{

	border: 1px solid #e7e7e7;
	
	height: 350px;
	/*border-right-style: solid;: */
	border-right-width: 0px; 

}
.texto-menu{
		border-top: 1px solid #e7e7e7;
		color:black;
		text-align: center;
		padding-right:  140px;
		padding-left: 40px;


}
#l2,#l3,#l4{

		margin-top: -60px;
}
#contenido{
	/*background-color: #30a445;*/
}
.est_img{
	padding-left: 150px;
	padding-bottom: 20px;
}
#targeta{
	margin-left: 10%;
}
.arrastrar{
	
	cursor:move;
}