
body{
  background:#607D8B;
  font-family: arial;
}

.contenedor {
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    color: #0000;
    text-align: center;
    float: left;
}
.form-login h1 {
  font-size: 36px;
  text-align: center;
  color: #45aba6;
  margin-bottom: 30px;
  font-weight: normal;
  }
.form-login{
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
}
.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.form-login input {
    width: 100%;
    padding: 5px;
    height: 56px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;
}
.form-login .form-group .icon {
   

    color: #666;
}